@using AsignioInternship.Data.CombinedLogWebResponse
@using AsignioInternship.Data

@model PagedDataModelCollection<CombinedLogWebResponseDataModel>
@{
    ViewBag.Title = "SearchIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
@{
    var sortBy = Model.SortBy;
    var sortDir = Model.SortDirection;
    var id = Model.PageNumber;
    var searchDict = Model.SearchDictionary;

    List<String> categories = new List<String>() { "EmailAddress", "TimeStamp", "WebRequestID", "Status", "RedirectLocation", "Important" };

    bool noResults = (Model.TotalItems) == 0;
}
<h3 class="tableTitle">Advanced search results (LogWebResponse)</h3>
<br />

<!-- Paging stuff -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <label class="pageLabel"> Current page: @Model.PageNumber / @Model.TotalPages</label>
        </div>
        <div class="col-md-4">
            <div class="btn-group">
                <input type="button" class="btn btn-default" onclick="updateButton(1, '@sortBy', '@sortDir')" value="<< First">

                <input type="button" class="btn btn-default" onclick="updateButton(((@id - 1) != 0) ? (@id - 1) : @id, '@sortBy', '@sortDir')" value="< Previous">

                <input type="button" class="btn btn-default" onClick="updateButton(((@id + 1) <= @Model.TotalPages) ? (@id + 1) : @id, '@sortBy', '@sortDir')" value="Next >">

                <input type="button" class="btn btn-default" onclick="updateButton(@Model.TotalPages, '@sortBy', '@sortDir')" value="Last >>">
            </div>
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Back to table", "Index", null, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-2">
            @Html.ActionLink("New Search", "AdvancedSearch")
        </div>
    </div>
</div>

@if (!noResults)
{
    <table style="width:100%; text-align:center;">
        <thead>
            <tr>
                @foreach (String category in categories)
                {
                    var sortB = "";
                    var sortD = "";
                    var className = "sortLink";

                    if (sortBy == category)
                    {
                        sortB = sortBy;
                        className = "selectedSortLink";<!-- If sortBy == the category name, make the link underlined -->

                        if (sortDir == "ASC")
                        { sortD = "DESC"; }
                        else
                        { sortD = "ASC"; }
                    }
                    else
                    {
                        sortB = category;
                        sortD = "ASC";
                    }
                    <td>
                        <input type="button" id="sortButton" value="@category" onclick="updateButton(1, '@sortB', '@sortD')" class="@className" />
                    </td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (CombinedLogWebResponseDataModel currentRow in Model.Items)
            {
                <tr>
                    <td>@currentRow.EmailAddress</td>
                    <td>@currentRow.TimeStamp</td>
                    <td>@currentRow.WebRequestID</td>
                    <td>@currentRow.Status</td>
                    <td>@currentRow.RedirectLocation</td>
                    <td>
                        @if (currentRow.Important == null) //button to mark as important
                        {
                            <img src="~/Content/unfilledStar.png" class="unfilledIcon" onclick="openModal('@currentRow.UserID.ToString()',
                            '@currentRow.EmailAddress.ToString()', '@currentRow.TimeStamp.ToString()',
                            '@currentRow.WebRequestID.ToString()', '@currentRow.Status.ToString()')">
                        }
                        else //button to unmark as important
                        {
                            <img src="~/Content/filledStar.png" class="filledIcon" onclick="markUnimportant('@currentRow.UserID.ToString()',
                            '@currentRow.EmailAddress.ToString()', '@currentRow.TimeStamp.ToString()',
                            '@currentRow.WebRequestID.ToString()', '@currentRow.Status.ToString()')">
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>No results found. </h2>
}

<div class="reveal" id="example-modal" data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out" style="display:none;">
    <form id="usernameForm">
        Your Email: <input type="text" name="usernameEntry" />
        <button onclick="UpdateImportance(@id, '@sortBy', '@sortDir')">Update</button>
    </form>
    <button onclick="closeModal()">Cancel</button>
</div>


@section scripts{
    <script>
    var exampleModal;
    var exampleModalVisible = false;

    var currentUserID = null;
    var currentEmailAddress = null;
    var currentTimeStamp = null;
    var currentWebRequestID = null;
    var currentStatus = null;

    var currentsearchDictionary = @Html.Raw(Json.Encode(searchDict));
    var currentid = null;
    var currentsortBy = null;
    var currentsortDir = null;

    function openModal(UserID, EmailAddress, TimeStamp, WebRequestID, Status) {
        event.preventDefault;

        currentUserID = UserID;
        currentEmailAddress = EmailAddress;
        currentTimeStamp = TimeStamp;
        currentWebRequestID = WebRequestID;
        currentStatus = Status;

        exampleModal.open();
    }

    function closeModal() {
        event.preventDefault;

        currentUserID = null;
        currentEmailAddress = null;
        currentTimeStamp = null;
        currentWebRequestID = null;
        currentStatus = null;

        exampleModal.close();
    }

    $(document).ready(function () {

        exampleModal = new Foundation.Reveal($("#example-modal"));

        $("#example-modal").on("open.zf.reveal", function () {
            exampleModalVisible = true;
        });

        $("#example-modal").on("closed.zf.reveal", function () {
            exampleModalVisible = false;
        });
    });

    function UpdateImportance(page, sortB, sortD) {
        currentid = page;
        currentsortBy = sortB;
        currentsortDir = sortD;
        usernameValue = $("[name=usernameEntry]").val();

        var model = {
            UserID: currentUserID,
            EmailAddress: currentEmailAddress,
            TimeStamp: currentTimeStamp,
            WebRequestID: currentWebRequestID,
            Status: currentStatus,
        };

        $.ajax({
            method: "POST",
            url: "@Url.Action("UpdateImportance", "LogWebResponse")",
            dataType: "json",
            data: {
                username: usernameValue,
                logToUpdate: model,
            },

            success: function (result) {
                document.getElementById("usernameForm").reset();

                currentUserID = null;
                currentEmailAddress = null;
                currentTimeStamp = null;
                currentWebRequestID = null;
                currentStatus = null;

                if (result.IsCreated) {
                    window.location.reload();
                }
                else {
                    alert(result.ErrorMessage);
                    window.location.reload();
                }
            },

            error: function (result) {
                alert(result.ErrorMessage);
            }
        });
    };

    function markUnimportant(currentUserID, currentEmailAddress, currentTimeStamp, currentWebRequestID, currentStatus) {
        var model = {
            UserID: currentUserID,
            EmailAddress: currentEmailAddress,
            TimeStamp: currentTimeStamp,
            WebRequestID: currentWebRequestID,
            Status: currentStatus,
        };

        $.ajax({
            method: "POST",
            url: "@Url.Action("MarkUnimportant", "LogWebResponse")",
            dataType: "json",
            data: {
                logToUpdate: model,
            },

            success: function (result) {
                currentUserID = null;
                currentEmailAddress = null;
                currentTimeStamp = null;
                currentWebRequestID = null;
                currentStatus = null;

                if (result.IsCreated) {
                    window.location.reload();
                }
                else {
                    alert(result.ErrorMessage);
                }
            },

            error: function (result) {
                alert(result.ErrorMessage);
            }
        });
    }

     function updateButton(page, sortB, sortD) {
        currentid = page;
        currentsortBy = sortB;
        currentsortDir = sortD;
        debugger;

        const form = document.createElement('form');
        form.method = 'post';
        form.action = '/LogWebResponse/SearchIndex';

        var dictionary = {};
        var index = 0;

        for (var key in currentsearchDictionary) {
            if (currentsearchDictionary.hasOwnProperty(key)) {
                dictionary["searchDictionary[" + index + "].Key"] = key;
                dictionary["searchDictionary[" + index + "].Value"] = currentsearchDictionary[key];
            }
            index = index + 1;
        }
        for (var key in dictionary) {
            const hiddenField = document.createElement('input');
            hiddenField.hidden = true;
            hiddenField.name = key;
            hiddenField.value = dictionary[key];
            form.appendChild(hiddenField);
        }

        const id = document.createElement('input');
        id.hidden = true;
        id.name = 'id';
        id.value = currentid;
        form.appendChild(id);

        const sortBy = document.createElement('input');
        sortBy.hidden = true;
        sortBy.name = 'sortBy';
        sortBy.value = currentsortBy;
        form.appendChild(sortBy);

        const sortDir = document.createElement('input');
        sortDir.hidden = true;
        sortDir.name = 'sortDir';
        sortDir.value = currentsortDir;
        form.appendChild(sortDir);

        document.body.appendChild(form);
        form.submit();
    };
    </script>
}