@using AsignioInternship.Data.Log

@model IEnumerable<LogDataModel>
@{
    ViewBag.Title = "DisplayUserIDResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table style="width:100%; text-align:center;">
    <thead>
        <tr>
            <td>Time Stamp</td>
            <td>User ID</td>
            <td>Log ID</td>
            <td>Message</td>
            <td>Username</td>
            <td>Source</td>
            <td>Level</td>
        </tr>

    </thead>
    <tbody>

        @foreach (LogDataModel currentRow in Model)
        {
            <tr>
                <td>@currentRow.TimeStamp</td>
                <td>@currentRow.UserID</td>
                <td>@currentRow.LogID</td>
                <td>@currentRow.Message</td>
                <td>@currentRow.Username</td>
                <td>@currentRow.Source</td>
                <td>@currentRow.Level</td>
                <!-- <td> (at) Html.ActionLink("Edit", "Update", new { UserID = currentRow.ExampleID })</td> -->
            </tr>
        }
        </tbody>
</table>

<div>
    @Html.ActionLink("Back to Search", "SearchByUserID")
</div>

