@using AsignioInternship.Data.CombinedLog
@using AsignioInternship.Data


@model PagedDataModelCollection<CombinedLogDataModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
@{
    var sortBy = Model.SortBy;
    var sortDir = Model.SortDirection;
    var id = Model.PageNumber;
    var searchDict = Model.SearchDictionary;

    List<String> categories = new List<String>() { "EmailAddress", "TimeStamp", "LogID", "Level", "Message", "Source", "Important" };

    bool noResults = (Model.TotalItems == 0);

    List<SelectListItem> searchCategories = new List<SelectListItem>();
    searchCategories.Add(new SelectListItem { Text = "Email Address", Value = "EmailAddress" });
    searchCategories.Add(new SelectListItem { Text = "Date (YYYY-MM-DD)", Value = "TimeStamp" });
    searchCategories.Add(new SelectListItem { Text = "Level", Value = "Level" });
    searchCategories.Add(new SelectListItem { Text = "Message", Value = "Message" });
    searchCategories.Add(new SelectListItem { Text = "Source", Value = "Source" });
    searchCategories.Add(new SelectListItem { Text = "User who marked as important", Value = "UserImportant" });
}
<h3 class="tableTitle">Log Table</h3>
<div class="container">
    <form name="searchForm">
        @Html.HiddenFor(m => m.SortBy)
        @Html.HiddenFor(m => m.SortDirection)

        <div class="block" style="width: 25% !important; display: inline-block; ">
            @Html.Label("Search by: ", new { @class = "mylabel" })
            @Html.DropDownList("searchBy", searchCategories, new { @class = "mydropdown" })
        </div>
        <div class="block" style="width: 25% !important; display: inline-block; ">
            @Html.Label("Search for: ", new { @class = "mylabel" })
            @Html.TextBox("searchInput", null, new { @class = "mytextbox" })
        </div>
        <input type="button" id="searchSubmit" name="searchSubmit" value="Search" class="btn btn-default" style="display: inline-block;" />

        @Html.ActionLink(linkText: "Undo search",
        actionName: "Index",
        controllerName: "Log",
        routeValues: new { sortBy = sortBy, sortDir = sortDir, searchBy = "", searchInput = "", id = 1 },
        htmlAttributes: new { @class = "btn btn-default" })

        @Html.ActionLink("Advanced Search", "AdvancedSearch", "Log")
    </form>
</div>
<br />

<!-- Paging stuff -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <label class="pageLabel"> Current page: @Model.PageNumber / @Model.TotalPages</label>
        </div>
        <div class="col-md-4">
            <div class="btn-group">
                <input type="button" class="btn btn-default" onclick="updateButton(1, '@sortBy', '@sortDir')" value="<< First">

                <input type="button" class="btn btn-default" onclick="updateButton(((@id - 1) != 0) ? (@id - 1) : @id, '@sortBy', '@sortDir')" value="< Previous">

                <input type="button" class="btn btn-default" onClick="updateButton(((@id + 1) <= @Model.TotalPages) ? (@id + 1) : @id, '@sortBy', '@sortDir')" value="Next >">

                <input type="button" class="btn btn-default" onclick="updateButton(@Model.TotalPages, '@sortBy', '@sortDir')" value="Last >>">
            </div>
        </div>
        <div class="col-md-4">
            <form name="pageJump">
                @Html.HiddenFor(m => m.SortBy)
                @Html.HiddenFor(m => m.SortDirection)

                <div class="block">
                    @Html.Label("Page: ", new { @class = "mylabel" })
                </div>
                <div class="block">
                    @Html.TextBox("id")
                </div>
                <input type="button" id="btnSubmit" value="Jump to page" class="btn btn-default" />
            </form>
        </div>
    </div>
</div>

@if (!noResults)
{
    <table style="width:100%; text-align:center;">
        <thead>
            <tr>
                @foreach (String category in categories)
                {
                    var sortB = "";
                    var sortD = "";
                    var className = "sortLink";

                    if (sortBy == category)
                    {
                        sortB = sortBy;
                        className = "selectedSortLink";<!-- If sortBy == the category name, make the link underlined -->

                        if (sortDir == "ASC")
                        { sortD = "DESC"; }
                        else
                        { sortD = "ASC"; }
                    }
                    else
                    {
                        sortB = category;
                        sortD = "ASC";
                    }
                    <td>
                        <input type="button" id="sortButton" value="@category" onclick="updateButton(1, '@sortB', '@sortD')" class="@className" />
                    </td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (CombinedLogDataModel currentRow in Model.Items)
            {
                <tr>
                    <td>@currentRow.EmailAddress</td>
                    <td>@currentRow.TimeStamp</td>
                    <td>@currentRow.LogID</td>
                    <td>@currentRow.Level</td>
                    <td>@currentRow.Message</td>
                    <td>@currentRow.Source</td>
                    <td>
                        @if (currentRow.Important == null) //button to mark as important
                        {
                            <img src="~/Content/unfilledStar.png" class="unfilledIcon" onclick="openModal('@currentRow.TimeStamp.ToString()',
                            '@currentRow.LogID.ToString()', '@currentRow.Level.ToString()', '@currentRow.Source.ToString()')">
                        }
                        else //button to unmark as important
                        {
                            <img src="~/Content/filledStar.png" class="filledIcon" onclick="markUnimportant('@currentRow.TimeStamp.ToString()',
                            '@currentRow.LogID.ToString()', '@currentRow.Level.ToString()', '@currentRow.Source.ToString()')">
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2> No results found. </h2>
}

<div class="reveal" id="example-modal" data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out" style="display:none;">
    <form id="usernameForm">
        Your Email: <input type="text" name="usernameEntry" />
    </form>
    <button class="modalButton" onclick="UpdateImportance(@id, '@sortBy', '@sortDir')">Update</button>
    <button class="modalButton" onclick="closeModal()">Cancel</button>
</div>

@section scripts
{
    <script language="javascript" type="text/javascript">
    var exampleModal;
    var exampleModalVisible = false;

    var currentTimeStamp = null;
    var currentLogID = null;
    var currentLevel = null;
    var currentSource = null;

    var currentsearchDictionary = @Html.Raw(Json.Encode(searchDict));
    var currentid = null;
    var currentsortBy = null;
    var currentsortDir = null;
    var currentsearchBy = null;
    var currentsearchInput = null;

    function openModal(TimeStamp, LogID, Level, Source) {
        event.preventDefault;

        currentTimeStamp = TimeStamp;
        currentLogID = LogID;
        currentLevel = Level;
        currentSource = Source;

        exampleModal.open();
    }

    function closeModal() {
        event.preventDefault;

        currentTimeStamp = null;
        currentLogID = null;
        currentLevel = null;
        currentSource = null;

        exampleModal.close();
    }

    $(document).ready(function () {

        exampleModal = new Foundation.Reveal($("#example-modal"));

        $("#example-modal").on("open.zf.reveal", function () {
            exampleModalVisible = true;
        });

        $("#example-modal").on("closed.zf.reveal", function () {
            exampleModalVisible = false;
        });
    });

    function UpdateImportance(page, sortB, sortD) {
        usernameValue = $("[name=usernameEntry]").val();
        currentid = page;
        currentsortBy = sortB;
        currentsortDir = sortD;

        debugger;
        var model = {
            TimeStamp: currentTimeStamp,
            LogID: currentLogID,
            Level: currentLevel,
            Source: currentSource,
        };

        $.ajax({
            method: "POST",
            url: "@Url.Action("UpdateImportance", "Log")",
            dataType: "json",
            data: {
                username: usernameValue,
                logToUpdate: model,
		    },

            success: function (result) {
                document.getElementById("usernameForm").reset();

                currentTimeStamp = null;
                currentLogID = null;
                currentLevel = null;
                currentSource = null;

                if (result.IsCreated) {
                    window.location.reload();
                }
                else {
                    alert(result.ErrorMessage);
                    window.location.reload();
                }
            },
            error: function (result) {
                alert(result.ErrorMessage);
            }
        });
    };

    function markUnimportant(currentTimeStamp, currentLogID, currentLevel, currentSource) {
        var model = {
            TimeStamp: currentTimeStamp,
            LogID: currentLogID,
            Level: currentLevel,
            Source: currentSource,
        };

        $.ajax({
            method: "POST",
            url: "@Url.Action("MarkUnimportant", "Log")",
            dataType: "json",
            data: {
                logToUpdate: model,
            },

            success: function (result) {
                currentTimeStamp = null;
                currentLogID = null;
                currentLevel = null;
                currentSource = null;

                if (result.IsCreated) {
                    window.location.reload();
                }
                else {
                    alert(result.ErrorMessage);
                }
            },

            error: function (result) {
                alert(result.ErrorMessage);
            }
        });
    }

    $("#btnSubmit").click(function () {
        debugger;
        var formData = $('form[name="pageJump"]').serializeArray();
        var sortBy = formData[0].value;
        var sortDirection = formData[1].value;
        var page = formData[2].value;

        updateButton(page, sortBy, sortDirection, "", "");
    });

    $("#searchSubmit").click(function () {
        var formData = $('form[name="searchForm"]').serializeArray();
        var sortBy = formData[0].value;
        var sortDirection = formData[1].value;
        var searchBy = formData[2].value;
        var searchInput = formData[3].value;

        updateButton(1, sortBy, sortDirection, searchBy, searchInput);
    });

    function updateButton(page, sortB, sortD, searchB, searchI) {
        currentid = page;
        currentsortBy = sortB;
        currentsortDir = sortD;
        currentsearchBy = searchB;
        currentsearchInput = searchI;
        debugger;

        const form = document.createElement('form');
        form.method = 'post';
        form.action = '/Log/Index';

        var dictionary = {};
        var index = 0;

        var newSearch = (currentsearchInput != undefined);
        //if it's a new search, add new search inputs
        //if not a new search, add old search inputs 
        if (newSearch) {
            dictionary["searchDictionary[0].Key"] = currentsearchBy;
            dictionary["searchDictionary[0].Value"] = currentsearchInput;
        }
        else {
            for (var key in currentsearchDictionary) {
                if (currentsearchDictionary.hasOwnProperty(key)) {
                    dictionary["searchDictionary[" + index + "].Key"] = key;
                    dictionary["searchDictionary[" + index + "].Value"] = currentsearchDictionary[key];
                }
                index = index + 1;
            }
        }

        for (var key in dictionary) {
            const hiddenField = document.createElement('input');
            hiddenField.hidden = true;
            hiddenField.name = key;
            hiddenField.value = dictionary[key];
            form.appendChild(hiddenField);
        }

        const id = document.createElement('input');
        id.hidden = true;
        id.name = 'id';
        id.value = currentid;
        form.appendChild(id);

        const sortBy = document.createElement('input');
        sortBy.hidden = true;
        sortBy.name = 'sortBy';
        sortBy.value = currentsortBy;
        form.appendChild(sortBy);

        const sortDir = document.createElement('input');
        sortDir.hidden = true;
        sortDir.name = 'sortDir';
        sortDir.value = currentsortDir;
        form.appendChild(sortDir);

        document.body.appendChild(form);
        form.submit();
    };

    </script>
}
