@using AsignioInternship.Data.CombinedLog
@using AsignioInternship.Data


@model PagedDataModelCollection<CombinedLogDataModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var searchBy = Model.SearchBy;
    var searchInput = Model.SearchInput;
    var sortBy = Model.SortBy;
    var id = Model.PageNumber;

    bool noResults = (Model.TotalItems == 0);

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem { Text = "Time Stamp", Value = "TimeStamp" });
    listItems.Add(new SelectListItem { Text = "Level", Value = "Level" });
    listItems.Add(new SelectListItem { Text = "Email Address", Value = "EmailAddress" });
    listItems.Add(new SelectListItem { Text = "Message", Value = "Message" });
    listItems.Add(new SelectListItem { Text = "Source", Value = "Source" });

    List<SelectListItem> searchCategories = new List<SelectListItem>();
    searchCategories.Add(new SelectListItem { Text = "Email Address", Value = "EmailAddress" });
    searchCategories.Add(new SelectListItem { Text = "Message", Value = "Message" });
    searchCategories.Add(new SelectListItem { Text = "Level", Value = "Level" });
    searchCategories.Add(new SelectListItem { Text = "Source", Value = "Source" });
}

@using (Html.BeginRouteForm("Search", new { controller = "Log", action = "Index" }))
{
    <div class="container">
        <div class="block">
            @Html.Label("Sort by: ")
            @Html.DropDownList("sortBy", listItems)
        </div>
        <div class="block">
            @Html.Label("Search by: ")
            @Html.DropDownList("searchBy", searchCategories)
        </div>
        <div class="block">
            @Html.Label("Search for: ")
            @Html.TextBox("searchInput")
        </div>
        <div class="block">
            @Html.Label("Page: ")
            @Html.TextBox("id")
        </div>
        <div class="block">
            <input type="submit" name="btnSubmit" value="Go" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink(linkText: "Previous",
                     actionName: "Index",
                     controllerName: "Log",
                     routeValues: new { sortBy = sortBy, searchBy = searchBy, searchInput = searchInput, id = ((id - 1) != 0) ? (id - 1) : id },
                     htmlAttributes: null)
</div>
<div>
    @Html.ActionLink(linkText: "Next",
                     actionName: "Index",
                     controllerName: "Log",
                     routeValues: new { sortBy = sortBy, searchBy = searchBy, searchInput = searchInput, id = ((id + 1) <= Model.TotalPages) ? (id + 1) : id },
                     htmlAttributes: null)
</div>


<div>
    Current Page: @Model.PageNumber/@Model.TotalPages
</div>

@if (!noResults)
{
    <table style="width:100%; text-align:center;">
        <thead>
            <tr>
                <td>Email Address</td>
                <td>Time Stamp</td>
                <td>Log ID</td>
                <td>Level</td>
                <td>Message</td>
                <td>Source</td>
            </tr>
        </thead>
        <tbody>
            @foreach (CombinedLogDataModel currentRow in Model.Items)
            {
                <tr>
                    <td>@currentRow.EmailAddress</td>
                    <td>@currentRow.TimeStamp</td>
                    <td>@currentRow.LogID</td>
                    <td>@currentRow.Level</td>
                    <td>@currentRow.Message</td>
                    <td>@currentRow.Source</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2> No results found. </h2>
}
