@using AsignioInternship.Data.CombinedLogControllerAction
@using AsignioInternship.Data

@model PagedDataModelCollection<CombinedLogControllerActionDataModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var searchBy = Model.SearchBy;
    var searchInput = Model.SearchInput;
    var sortBy = Model.SortBy;
    var id = Model.PageNumber;

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem { Text = "Time Stamp", Value = "TimeStamp" });
    listItems.Add(new SelectListItem { Text = "Email Address", Value = "EmailAddress" });
    listItems.Add(new SelectListItem { Text = "Action Name", Value = "ActionName" });
    listItems.Add(new SelectListItem { Text = "Controller Action", Value = "ControllerAction" });
    listItems.Add(new SelectListItem { Text = "Parameters", Value = "Parameters" });

    List<SelectListItem> searchCategories = new List<SelectListItem>();
    searchCategories.Add(new SelectListItem { Text = "Email Address", Value = "EmailAddress" });
    searchCategories.Add(new SelectListItem { Text = "Action Name", Value = "ActionName" });
    searchCategories.Add(new SelectListItem { Text = "Controller Action", Value = "ControllerAction" });
    searchCategories.Add(new SelectListItem { Text = "Parameters", Value = "Parameters" });
}

@using (Html.BeginRouteForm("Search", new { controller = "LogControllerAction", action = "Index" }))
{
    <div>
        @Html.Label("Sort by: ")
        @Html.DropDownList("sortBy", listItems)
    </div>
    <div>
        @Html.Label("Search by: ")
        @Html.DropDownList("searchBy", searchCategories)
    </div>
    <div>
        @Html.Label("Search for: ")
        @Html.TextBox("searchInput")
    </div>
    <div>
        @Html.Label("Page: ")
        @Html.TextBox("id")
    </div>
    <input type="submit" name="btnSubmit" value="Go" class="btn btn-default" />
}

<div>
    @Html.ActionLink(linkText: "Previous",
                     actionName: "Index",
                     controllerName: "LogControllerAction",
                     routeValues: new { sortBy = sortBy, searchBy = searchBy, searchInput = searchInput, id = ((id - 1) != 0) ? (id - 1) : id },
                     htmlAttributes: null)
</div>
<div>
    @Html.ActionLink(linkText: "Next",
                     actionName: "Index",
                     controllerName: "LogControllerAction",
                     routeValues: new { sortBy = sortBy, searchBy = searchBy, searchInput = searchInput, id = ((id + 1) <= Model.TotalPages) ? (id + 1) : id },
                     htmlAttributes: null)
</div>

<div>
    Current Page: @Model.PageNumber/@Model.TotalPages
</div>

<table style="width:100%; text-align:center;">
    <thead>
        <tr>
            <td>Email Address</td>
            <td>Time Stamp</td>
            <td>Web Request ID</td>
            <td>Controller Name</td>
            <td>Action Name</td>
            <td>Parameters</td>
        </tr>
    </thead>
    <tbody>
        @foreach (CombinedLogControllerActionDataModel currentRow in Model.Items)
        {
            <tr>
                <td>@currentRow.EmailAddress</td>
                <td>@currentRow.TimeStamp</td>
                <td>@currentRow.WebRequestID</td>
                <td>@currentRow.ControllerName</td>
                <td>@currentRow.ActionName</td>
                <td>@currentRow.Parameters</td>
            </tr>
        }
    </tbody>
</table>
