@using AsignioInternship.Data.LogInfo

@model IEnumerable<LogInfoDataModel>
@{
    ViewBag.Title = "DisplayUserIDResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.ActionLink("Back to Search", "SearchByUserID")
</div>

<table style="width:100%; text-align:center;">
    <thead>
        <tr>
            <td>Time Stamp</td>
            <td>Web Request ID</td>
            <td>User ID</td>
            <td>Message</td>
            <td>Method Name</td>
            <td>Object</td>
            <td>ID</td>
        </tr>

    </thead>
    <tbody>

        @foreach (LogInfoDataModel currentRow in Model)
        {
            <tr>
                <td>@currentRow.TimeStamp</td>
                <td>@currentRow.WebRequestID</td>
                <td>@currentRow.UserID</td>
                <td>@currentRow.Message</td>
                <td>@currentRow.MethodName</td>
                <td>@currentRow.Object</td>
                <td>@currentRow.ID</td>
            </tr>
        }
        </tbody>
</table>



