@using AsignioInternship.Data.LogInfo

@model IEnumerable<LogInfoDataModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table style="width:100%; text-align:center;">
    <thead>
        <tr>
            <td>Time Stamp</td>
            <td>Web Request ID</td>
            <td>User ID</td>
            <td>Message</td>
            <td>Method Name</td>
            <td>Object</td>
            <td>ID</td>
        </tr>
        
    </thead>
    <tbody>

        @foreach (LogInfoDataModel currentRow in Model)
        {
            <tr>
                <td>@currentRow.TimeStamp</td>
                <td>@currentRow.WebRequestID</td>
                <td>@currentRow.UserID</td>
                <td>@currentRow.Message</td>
                <td>@currentRow.MethodName</td>
                <td>@currentRow.Object</td>
                <td>@currentRow.ID</td>
                <!-- <td> (at) Html.ActionLink("Edit", "Update", new { UserID = currentRow.ExampleID })</td> -->
            </tr>

        }
    </tbody>
</table>
