@using AsignioInternship.Data.LogWebRequest

@model IEnumerable<LogWebRequestDataModel>
@{
    ViewBag.Title = "DisplayUserIDResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.ActionLink("Back to Search", "SearchByUserID")
</div>

<table style="width:100%; text-align:center;">
    <thead>
        <tr>
            <td>Time Stamp</td>
            <td>Web Request ID</td>
            <td>User ID</td>
            <td>HostAddress</td>
            <td>ServerIP</td>
            <td>RawURL</td>
            <td>Parameters</td>
            <td>UserAgent</td>
            <td>UserLanguages</td>
        </tr>

    </thead>
    <tbody>

        @foreach (LogWebRequestDataModel currentRow in Model)
        {
        <tr>
            <td>@currentRow.TimeStamp</td>
            <td>@currentRow.WebRequestID</td>
            <td>@currentRow.UserID</td>
            <td>@currentRow.HostAddress</td>
            <td>@currentRow.ServerIP</td>
            <td>@currentRow.RawURL</td>
            <td>@currentRow.Parameters</td>
            <td>@currentRow.UserAgent</td>
            <td>@currentRow.UserLanguages</td>
        </tr>
        }
        </tbody>
</table>



