<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/loggingProjectStyle.css" />


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Intern Logging Project", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Example", "Index", "Example")</li>
                    <li>@Html.ActionLink("Log", "Index", "Log")</li>
                    <li>@Html.ActionLink("Log Controller Action", "Index", "LogControllerAction")</li>
                    <li>@Html.ActionLink("Log Exception", "Index", "LogException")</li>
                    <li>@Html.ActionLink("Log Info", "Index", "LogInfo")</li>
                    <li>@Html.ActionLink("Log MySQL", "Index", "LogMySql")</li>
                    <li>@Html.ActionLink("Log Web Request", "Index", "LogWebRequest")</li>
                    <li>@Html.ActionLink("Log Web Respone", "Index", "LogWebResponse")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
