@using AsignioInternship.Data.CombinedLogException
@using AsignioInternship.Data

@model PagedDataModelCollection<CombinedLogExceptionDataModel>
@{
    ViewBag.Title = "DisplayMethodNameSearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.ActionLink("Back to Search", "Search")
</div>

<div>
    Current Page: @Model.PageNumber/@Model.TotalPages
</div>

<div>
    <!-- Previous button - if pagenumber would be 0, stay on same page -->
    @Html.ActionLink("Previous", "DisplayMethodNameSearchResult", new { @id = ((Model.PageNumber - 1) != 0) ? (Model.PageNumber - 1) : Model.PageNumber });
    <!-- Next button - if pagenumber would be >totalpages, stay on same page -->
    @Html.ActionLink("Next", "DisplayMethodNameSearchResult", new { @id = ((Model.PageNumber + 1) <= Model.TotalPages) ? (Model.PageNumber + 1) : Model.PageNumber });
</div>

<table style="width:100%; text-align:center;">
    <thead>
        <tr>
            <td>Email Address</td>
            <td>Time Stamp</td>
            <td>Web Request ID</td>
            <td>Message</td>
            <td>Method Name</td>
            <td>Source</td>
            <td>Stack Trace</td>
        </tr>

    </thead>
    <tbody>

        @foreach (CombinedLogExceptionDataModel currentRow in Model.Items)
        {
            <tr>
                <td>@currentRow.EmailAddress</td>
                <td>@currentRow.TimeStamp</td>
                <td>@currentRow.WebRequestID</td>
                <td>@currentRow.Message</td>
                <td>@currentRow.MethodName</td>
                <td>@currentRow.Source</td>
                <td>@currentRow.StackTrace</td>
            </tr>
        }
    </tbody>
</table>



