@using AsignioInternship.Data.CombinedLogException
@using AsignioInternship.Data

@model PagedDataModelCollection<CombinedLogExceptionDataModel>
@{
    ViewBag.Title = "DisplayMethodNameSearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var searchBy = Model.SearchBy;
    var searchInput = Model.SearchInput;
    var sortBy = Model.SortBy;
    var id = Model.PageNumber;
}

<div>
    @Html.ActionLink("Back to Search", "Search")
</div>

<div>
    Current Page: @Model.PageNumber/@Model.TotalPages
</div>


@using (Html.BeginRouteForm("Search", new { controller = "LogException", action = "DisplayMethodNameSearchResult" }))
{
    <div>
        @Html.Label("Search category: ")
        @Html.TextBox("searchBy")
    </div>
    <div>
        @Html.Label("Search for: ")
        @Html.TextBox("searchInput")
    </div>
    <div>
        @Html.Label("Page: ")
        @Html.TextBox("id")
    </div>
    <input type="submit" name="btnSubmit" value="Go" class="btn btn-default" />
}

<div>
    @Html.ActionLink(linkText: "Previous",
                     actionName: "DisplayMethodNameSearchResult",
                     controllerName: "LogException",
                     routeValues: new { searchBy = searchBy, searchInput = searchInput, id = id-1, },
                     htmlAttributes: null)

    @Html.ActionLink(linkText: "Next",
                     actionName: "DisplayMethodNameSearchResult",
                     controllerName: "LogException",
                     routeValues: new { searchBy = searchBy, searchInput = searchInput, id = id+1, },
                     htmlAttributes: null)
</div>

<table style="width:100%; text-align:center;">
    <thead>
        <tr>
            <td>Email Address</td>
            <td>Time Stamp</td>
            <td>Web Request ID</td>
            <td>Message</td>
            <td>Method Name</td>
            <td>Source</td>
            <td>Stack Trace</td>
        </tr>
    </thead>
    <tbody>
        @foreach (CombinedLogExceptionDataModel currentRow in Model.Items)
        {
            <tr>
                <td>@currentRow.EmailAddress</td>
                <td>@currentRow.TimeStamp</td>
                <td>@currentRow.WebRequestID</td>
                <td>@currentRow.Message</td>
                <td>@currentRow.MethodName</td>
                <td>@currentRow.Source</td>
                <td>@currentRow.StackTrace</td>
            </tr>
        }
    </tbody>
</table>



