@using AsignioInternship.Data.LogException
@using AsignioInternship.Data

<!-- (at)model IEnumerable<LogExceptionDataModel> -->
@model PagedDataModelCollection<LogExceptionDataModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <!-- dropdown form to choose how to sort the data -->
        @{
            List<SelectListItem> listItems = new List<SelectListItem>();
            listItems.Add(new SelectListItem { Text = "Time Stamp", Value = "TimeStamp" });
            listItems.Add(new SelectListItem { Text = "Method Name", Value = "MethodName" });
        }
        @using (Html.BeginForm("Index", "LogException", FormMethod.Post, new { /*id = "sortform",*/ @SortBy = ViewBag.Sort }))
        {
            @Html.DropDownListFor(m => m.SortBy, listItems, new { onchange = "this.form.submit();" })
        }

    </div>

<div>
    <!-- Added link to search the log-->
    @Html.ActionLink("Search", "Search", "LogException");
</div>

<div>
    Current Page: @Model.PageNumber
</div>

<div>
    <!-- Previous button - if pagenumber would be 0, stay on same page -->
    @Html.ActionLink("Previous", "Index", new { @id = ((Model.PageNumber - 1) != 0) ? (Model.PageNumber - 1) : Model.PageNumber });
    <!-- Next button - if pagenumber would be >totalpages, stay on same page -->
    @Html.ActionLink("Next", "Index", new { @id = ((Model.PageNumber + 1) <= Model.TotalPages) ? (Model.PageNumber + 1) : Model.PageNumber });
</div>

<table style="width:100%; text-align:center;">
    <thead>
        <tr>
            <td>Time Stamp</td>
            <td>User ID</td>
            <td>Web Request ID</td>
            <td>Message</td>
            <td>Method Name</td>
            <td>Source</td>
            <td>Stack Trace</td>
        </tr>

    </thead>
    <tbody>

        @foreach (LogExceptionDataModel currentRow in Model.Items)
        {
            <tr>
                <td>@currentRow.TimeStamp</td>
                <td>@currentRow.UserID</td>
                <td>@currentRow.WebRequestID</td>
                <td>@currentRow.Message</td>
                <td>@currentRow.MethodName</td>
                <td>@currentRow.Source</td>
                <td>@currentRow.StackTrace</td>
            </tr>

        }
    </tbody>
</table>

