@using AsignioInternship.Data.LogException
@using AsignioInternship.Data.CombinedLogException 
@using AsignioInternship.Data


@model PagedDataModelCollection<CombinedLogExceptionDataModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <!-- dropdown form to choose how to sort the data -->
        Sort data by:
        @{
            List<SelectListItem> listItems = new List<SelectListItem>();
            listItems.Add(new SelectListItem { Text = "Time Stamp", Value = "TimeStamp", Selected = ("TimeStamp"== Model.SortBy) });
            listItems.Add(new SelectListItem { Text = "Method Name", Value = "MethodName", Selected = ("MethodName" == Model.SortBy) });
        }

        @using (Html.BeginForm("Index", "LogException", FormMethod.Post, new { id = "sortby", @class = "form-control"  }))
        {
            @Html.DropDownListFor(m => m.SortBy, listItems, new { onchange = "this.form.submit();" })
        }
    </div> 
<div>
    <!-- Added link to search the log-->
    @Html.ActionLink("Search", "Search", "LogException");
</div>

<div>
   Current Page: @Model.PageNumber 
</div>

<div>
    <!-- Previous button - if pagenumber would be 0, stay on same page -->
    @Html.ActionLink("Previous", "Index", new { @id = ((Model.PageNumber - 1) != 0) ? (Model.PageNumber - 1) : Model.PageNumber });
    <!-- Next button - if pagenumber would be >totalpages, stay on same page -->
    @Html.ActionLink("Next", "Index", new { @id = ((Model.PageNumber + 1) <= Model.TotalPages) ? (Model.PageNumber + 1) : Model.PageNumber });
</div>

<table style="width:100%; text-align:center;">
    <thead>
        <tr>
            <td>Email Address</td>
            <td>Time Stamp</td>
            <td>Web Request ID</td>
            <td>Message</td>
            <td>Method Name</td>
            <td>Source</td>
            <td>Stack Trace</td>
        </tr>
    </thead>
    <tbody>

       <!-- (at)foreach (LogExceptionDataModel currentRow in Model.Items) -->
        @foreach (CombinedLogExceptionDataModel currentRow in Model.Items)
        {
            <tr>
                <td>@currentRow.EmailAddress</td>
                <td>@currentRow.TimeStamp</td>
                <td>@currentRow.WebRequestID</td>
                <td>@currentRow.Message</td>
                <td>@currentRow.MethodName</td>
                <td>@currentRow.Source</td>
                <td>@currentRow.StackTrace</td>
            </tr>
        }
    </tbody>
</table>

