
@using AsignioInternship.Data.CombinedLogException
@using AsignioInternship.Data


@model PagedDataModelCollection<CombinedLogExceptionDataModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
@{
    var searchBy = Model.SearchBy;
    var searchInput = Model.SearchInput;
    var sortBy = Model.SortBy;
    var sortDir = Model.SortDirection;
    var id = Model.PageNumber;
    var searchDict = Model.SearchDictionary;

    List<String> categories = new List<String>() { "EmailAddress", "TimeStamp", "WebRequestID", "Message", "MethodName", "Source", "StackTrace", "Important" };

    bool noResults = (Model.TotalItems) == 0;

    List<SelectListItem> searchCategories = new List<SelectListItem>();
    searchCategories.Add(new SelectListItem { Text = "Email Address", Value = "EmailAddress" });
    searchCategories.Add(new SelectListItem { Text = "Time Stamp", Value = "TimeStamp" });
    searchCategories.Add(new SelectListItem { Text = "Message", Value = "Message" });
    searchCategories.Add(new SelectListItem { Text = "Method Name", Value = "MethodName" });
    searchCategories.Add(new SelectListItem { Text = "Source", Value = "Source" });
    searchCategories.Add(new SelectListItem { Text = "Stack Trace", Value = "StackTrace" });
    searchCategories.Add(new SelectListItem { Text = "Importance", Value = "Important" });
}

<div class="container" style="padding-top: 50px !important;">
    <form name="searchForm">
        @Html.HiddenFor(m => m.SortBy)
        @Html.HiddenFor(m => m.SortDirection)

        <div class="block" style="width: 25% !important; display: inline-block; ">
            @Html.Label("Search by: ", new { @class = "mylabel" })
            @Html.DropDownList("searchBy", searchCategories, new { @class = "mydropdown" })
        </div>
        <div class="block" style="width: 25% !important; display: inline-block; ">
            @Html.Label("*Search for: ", new { @class = "mylabel" })
            @Html.TextBox("searchInput", null, new { @class = "mytextbox" })
        </div>
        @Html.HiddenFor(m => m.PageNumber)
    </form>
    <div class="block" style="width: 10% !important">
        <input type="button" id="searchSubmit" name="searchSubmit" value="Search" class="btn btn-default" style="display: inline-block;" />
    </div>
   
    @Html.ActionLink(linkText: "Undo search",
    actionName: "Index",
    controllerName: "LogException",
    routeValues: new { sortBy = sortBy, sortDir = sortDir, searchBy = "", searchInput = "", id = 1 },
    htmlAttributes: new { @class = "btn btn-default" })

    @Html.ActionLink("Advanced Search", "AdvancedSearch", "LogException")
</div>

<br />

<div class="container" style="padding-top: 50px !important;">
    <div class="row">
        <div class="col-md-3">
            <label class="pageLabel"> Current page: @Model.PageNumber / @Model.TotalPages</label>
        </div>
        <div class="col-md-4">
            <div class="btn-group">
                <input type="button" class="btn btn-default" onclick="updateButton(1, '@sortBy', '@sortDir')" value="<< First">

                <input type="button" class="btn btn-default" onclick="updateButton(((@id - 1) != 0) ? (@id - 1) : @id, '@sortBy', '@sortDir')" value="< Previous">

                <input type="button" class="btn btn-default" onClick="updateButton(((@id + 1) <= @Model.TotalPages) ? (@id + 1) : @id, '@sortBy', '@sortDir')" value="Next >">

                <input type="button" class="btn btn-default" onclick="updateButton(@Model.TotalPages, '@sortBy', '@sortDir')" value="Last >>">
            </div>
        </div>
        <div class="col-md-4">
            <form name="pageJump">
                @Html.HiddenFor(m => m.SortBy)
                @Html.HiddenFor(m => m.SortDirection)
                @Html.HiddenFor(m => m.SearchBy)
                @Html.HiddenFor(m => m.SearchInput)

                <div class="block">
                    @Html.Label("Page: ", new { @class = "mylabel" })
                </div>
                <div class="block">
                    @Html.TextBox("id")
                </div>
            </form>
            <input type="button" id="btnSubmit" value="Jump to page" class="btn btn-default" />
        </div>
    </div>
</div>    


@if (!noResults)
{
    <table style="width:100%; text-align:center;">
        <thead>
            <tr>
                @foreach (String category in categories)
                {
                    var sortB = "";
                    var sortD = "";
                    var className = "sortLink";

                    if (sortBy == category)
                    {
                        sortB = sortBy;
                        className = "selectedSortLink";<!-- If sortBy == the category name, make the link underlined -->

                        if (sortDir == "ASC")
                        { sortD = "DESC"; }
                        else
                        { sortD = "ASC"; }
                    }
                    else
                    {
                        sortB = category;
                        sortD = "ASC";
                    }
                    <td>
                        <input type="button" id="sortButton" value ="@category" onclick="updateButton(1, '@sortB', '@sortD', '@searchBy', '@searchInput')" class="@className" />
                    </td>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (CombinedLogExceptionDataModel currentRow in Model.Items)
            {
                <tr>
                    <td>@currentRow.EmailAddress</td>
                    <td>@currentRow.TimeStamp</td>
                    <td>@currentRow.WebRequestID</td>
                    <td>@currentRow.Message</td>
                    <td>@currentRow.MethodName</td>
                    <td>@currentRow.Source</td>
                    <td>@currentRow.StackTrace</td>
                    <td>
                        <!-- If !Important, show the unfilled icon and have it open the modal/toggle the icon -->
                        <!-- If Important, show the filled icon and have it markUnimportant/toggle the icon -->
                        @if (currentRow.Important == null)
                        {
                            //string fixedMessage = currentRow.Message.ToString().Replace("'", "\\'");
                            <img src="~/Content/unfilledStar.jpg" class="unfilledIcon" onclick="openModal('@currentRow.UserID.ToString()', '@currentRow.EmailAddress.ToString()', '@currentRow.TimeStamp.ToString()', '@currentRow.WebRequestID.ToString()', '@currentRow.MethodName.ToString()', '@currentRow.Source.ToString()')" />
                        }
                        else
                        {
                            //string fixedMessage = currentRow.Message.ToString().Replace("'", "\\'");
                            <img src="~/Content/filledStar.jpg" class="filledIcon" onclick="markUnimportant('@currentRow.UserID.ToString()', '@currentRow.EmailAddress.ToString()', '@currentRow.TimeStamp.ToString()', '@currentRow.WebRequestID.ToString()', '@currentRow.MethodName.ToString()', '@currentRow.Source.ToString()')" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2> No results found. </h2>
}

<div class="reveal" id="example-modal" data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out" style="display:none;">
    <form id="usernameForm">
        Your Email: <input type="text" name="usernameEntry" />
        <button onclick="UpdateImportance()">Update</button>
    </form>
    <button onclick="closeModal()">Cancel</button>
</div>

@section scripts
{
<script language="javascript" type="text/javascript">
    var exampleModal;
    var exampleModalVisible = false;

    var currentUserID = null;
    var currentEmailAddress = null;
    var currentTimeStamp = null;
    var currentWebRequestID = null;
    var currentMethodName = null;
    var currentSource = null;

    var currentsearchDictionary = @Html.Raw(Json.Encode(searchDict));
    var currentid = null;
    var currentsortBy = null;
    var currentsortDir = null;
    var currentsearchBy = null;
    var currentsearchInput = null;

    function openModal(UserID, EmailAddress, TimeStamp, WebRequestID, MethodName, Source) {
        event.preventDefault;
        debugger;
        currentUserID = UserID;
        currentEmailAddress = EmailAddress;
        currentTimeStamp = TimeStamp;
        currentWebRequestID = WebRequestID;
        currentMethodName = MethodName;
        currentSource = Source;

        exampleModal.open();
    }

    function closeModal() {
        event.preventDefault;

        currentUserID = null;
        currentEmailAddress = null;
        currentTimeStamp = null;
        currentWebRequestID = null;
        currentMethodName = null;
        currentSource = null;

        exampleModal.close();
    }

    $(document).ready(function () {

        exampleModal = new Foundation.Reveal($("#example-modal"));

        $("#example-modal").on("open.zf.reveal", function () {
            exampleModalVisible = true;
        });

        $("#example-modal").on("closed.zf.reveal", function () {
            exampleModalVisible = false;
        });
    });

    function UpdateImportance() {
        usernameValue = $("[name=usernameEntry]").val();
        debugger;
        var model = {
            UserID: currentUserID,
            EmailAddress: currentEmailAddress,
            TimeStamp: currentTimeStamp,
            WebRequestID: currentWebRequestID,
            MethodName: currentMethodName,
            Source: currentSource,
        };

        $.ajax({
            method: "POST",
            url: "@Url.Action("UpdateImportance", "LogException")",
            dataType: "json",
            data: {
                username: usernameValue,
                logToUpdate: model,
		    },

            success: function (result) {
                document.getElementById("usernameForm").reset();

                currentUserID = null;
                currentEmailAddress = null;
                currentTimeStamp = null;
                currentWebRequestID = null;
                currentMethodName = null;
                currentSource = null;

                if (result.IsCreated) {
                    window.location.reload();
                }
                else {
                    alert(result.ErrorMessage);
                }
            },

            error: function (result) {
                alert(result.ErrorMessage);
            }
        });
    };

    function markUnimportant(currentUserID, currentEmailAddress, currentTimeStamp, currentWebRequestID,
        currentMethodName, currentSource) {
        var model = {
            UserID: currentUserID,
            EmailAddress: currentEmailAddress,
            TimeStamp: currentTimeStamp,
            WebRequestID: currentWebRequestID,
            MethodName: currentMethodName,
            Source: currentSource,
        };

        $.ajax({
            method: "POST",
            url: "@Url.Action("MarkUnimportant", "LogException")",
            dataType: "json",
            data: {
                logToUpdate: model,
            },

            success: function (result) {
                currentUserID = null;
                currentEmailAddress = null;
                currentTimeStamp = null;
                currentWebRequestID = null;
                currentMethodName = null;
                currentSource = null;

                if (result.IsCreated) {
                    window.location.reload();
                }
                else {
                    alert(result.ErrorMessage);
                }
            },

            error: function (result) {
                alert(result.ErrorMessage);
            }
        });
    };

    $("#btnSubmit").click(function () {
        debugger;
        var formData = $('form[name="pageJump"]').serializeArray();
        var sortBy = formData[0].value;
        var sortDirection = formData[1].value;
        var searchBy = formData[2].value;
        var searchInput = formData[3].value;
        var page = formData[4].value;

        updateButton(page, sortBy, sortDirection, searchBy, searchInput);

    });

    $("#searchSubmit").click(function () {
        var formData = $('form[name="searchForm"]').serializeArray();
        var sortBy = formData[0].value;
        var sortDirection = formData[1].value;
        var searchBy = formData[2].value;
        var searchInput = formData[3].value;
        var page = formData[4].value;

        updateButton(page, sortBy, sortDirection, searchBy, searchInput);
    });

    function updateButton(page, sortB, sortD, searchB, searchI) {
        currentid = page;
        currentsortBy = sortB;
        currentsortDir = sortD;
        currentsearchBy = searchB;
        currentsearchInput = searchI;
        debugger;

        const form = document.createElement('form');
        form.method = 'post';
        form.action = '/LogException/Index';

        var dictionary = {};
        var index = 0;
        var newSearch = (currentsearchInput != "");

        for (var key in currentsearchDictionary) {
            if (currentsearchDictionary.hasOwnProperty(key)) {
                dictionary["searchDictionary[" + index + "].Key"] = key;
                dictionary["searchDictionary[" + index + "].Value"] = currentsearchDictionary[key];

                if (newSearch && (currentsearchBy == key)) { //update based on new search    
                    dictionary["searchDictionary[" + index + "].Key"] = currentsearchBy;
                    dictionary["searchDictionary[" + index + "].Value"] = currentsearchInput;
                }
            }
            index = index + 1;
        }

        for (var key in dictionary) {
            const hiddenField = document.createElement('input');
            hiddenField.hidden = true;
            hiddenField.name = key;
            hiddenField.value = dictionary[key];
            form.appendChild(hiddenField);
        }

        const id = document.createElement('input');
        id.hidden = true;
        id.name = 'id';
        id.value = currentid;
        form.appendChild(id);

        const sortBy = document.createElement('input');
        sortBy.hidden = true;
        sortBy.name = 'sortBy';
        sortBy.value = currentsortBy;
        form.appendChild(sortBy);

        const sortDir = document.createElement('input');
        sortDir.hidden = true;
        sortDir.name = 'sortDir';
        sortDir.value = currentsortDir;
        form.appendChild(sortDir);

        const searchBy = document.createElement('input');
        searchBy.hidden = true;
        searchBy.name = 'searchBy';
        searchBy.value = currentsearchBy;
        form.appendChild(searchBy);

        const searchInput = document.createElement('input');
        searchInput.hidden = true;
        searchInput.name = 'searchInput';
        searchInput.value = currentsearchInput;
        form.appendChild(searchInput);

        document.body.appendChild(form);
        form.submit();
    };
    </script>
}
